body {

margin: 0;
padding: 0;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f3e2c7+0,b68d4c+40,c19e67+71,c19e67+71,e9d4b3+100 */
background: #f3e2c7; /* Old browsers */
background: -moz-linear-gradient(top,  #f3e2c7 0%, #b68d4c 40%, #c19e67 71%, #c19e67 71%, #e9d4b3 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #f3e2c7 0%,#b68d4c 40%,#c19e67 71%,#c19e67 71%,#e9d4b3 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #f3e2c7 0%,#b68d4c 40%,#c19e67 71%,#c19e67 71%,#e9d4b3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3',GradientType=0 ); /* IE6-9 */


}

#uno {
    position: relative;
    animation-name: uno;
    animation-duration: 1s;
    font-size: larger;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-top: 3%;

}

#uno > h1 {

    font-size: xx-large;

}

@media only screen and (max-width: 1000px) {

#uno {

    font-size: large;
    padding-top: 0;

}

#uno > h1 {

    font-size: larger;

}


}


#dos {

    position: relative;
    animation-name: dos;
    animation-duration: 1s;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;

}


@keyframes uno {
    from   {left:-50%;}
    to {left:0px;}
    
  }

  @keyframes dos {
    from   {right:-50%;}
    to {right:0px;}
    
  }



#sk {

align-content: center;
text-align: center;

}

#sk1 {

    position: relative;
    animation-name: example;
    animation-duration: 2s;
    
}

#sk2 {

    text-align: Justify; 
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
    animation-name: example;
    animation-duration: 3s;
    margin-bottom: 30px;
    font-size: larger;
    
}

@keyframes example {
    0%   {left:-50%;}
    100% {left:0px;}
    
  }


#tres > div.col {

    transition: all 0.5s;
    margin: 20px;
    background-color: rgba(221, 115, 115, 0.856); 
    border-style: solid;
    border-width: medium;
    box-shadow: 10px 10px 5px rgb(15, 19, 20);
    border-radius: 25px;
}

#tres > div.col:hover {
        
        font-size: larger;
        border-radius: 0;
        background-color: rgb(23, 194, 0)   
              
}
/*
#tres > div.col > div {

    transition: all 0.5s;
    font-size: 100px;
}

#tres > div.col > div:hover {

    

}*/

#parallax {
    /* The image used */
    background-image: url("img/lap.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /*personalizado*/

    padding-top: 40px;
    padding-bottom: 40px;


  }



#cuatro {

    text-align: justify;
    align-content: center;


}


#footer {

    background-color: rgb(255, 187, 0);

}

















/* primer portafolios */

#canvas1 {

    position: absolute;
    
}

#controls {

    position: absolute;
    z-index: 100;

}

#image1 {

display: none;

}

#contenedor {


    margin: 0;
    padding: 0;
   height: 720px;
   width: 100%;
   
}

#warpButton {

    padding: 20px;

}

/* primer portafolios */



/* segundo portafolios */







/* segundo portafolios */