* {

    margin: 0;
    box-sizing: border-box;
    
}

body {

    background-image: url("./home/background-home-desktop.jpg");
    color: white;

}


@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;1,300;1,400&display=swap');

.nav {

    width: 100%;
    padding-top: 50px;
    padding-left: 50px;
    align-items: center;
    display: flex;
    transition: 1.5s;

    
}

.logo {

    display: flex;
    align-items: center;

}

.logo img {

    display: block;
}

.raya {

    width: 800px;
    border-top: 0.8px solid white;
    margin-left: 300px;
    margin-right: -45px;
    align-items: center;
    display: flex;
    z-index: 100;

}

.Nav__links {

    display: flex;
    list-style: none;
    justify-content: space-evenly;
    gap: 8%;
    padding: 0 60px;
    width: 100%;
    background: linear-gradient(to right, #18181a85, #5253537c, #09044d80);
    z-index: 0;    

}

/*destinations links*/

.linkk {

    padding: 10px 0;
    text-decoration: none;
    color: white;
    cursor: pointer;
    }
    
    
    
.linkk:hover {
        border-bottom: 2px solid white;
        padding-bottom: 4px;
    }





/*destinations links*/

.link {

    padding: 20px 0;
    text-decoration: none;
    color: white;
    
    }
    
    
    
.link:hover {
        border-bottom: 4px solid white;
        padding-bottom: 16px;
    }


.link--no {

    padding: 20px 0;
    text-decoration: none;
    color: white;
    display: none;
    
    }


.contenedor {

    width: 100%;
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.contenido {
    
    width: 30%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    font-family: 'Cormorant Garamond', serif;

}

.contenido h1 {
    font-size: 100px;
    letter-spacing: 22px;
    width: 100%;

}

.contenido h2 {

    letter-spacing: 6px;
    width: 100%;

}


.circulo {
    
    width: 100px;
    height: 100px;
    color: black;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    padding: 100px;
    box-shadow: 10px 10px 5px #000000;
    background-color: white;
    text-align: center;
    margin-top: 40px;

}

.circulo h1 {

margin-top: -20px;

}


.nav__repo {

    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: 1.5s;
}


.Nav__links__repo {

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 8%;
    padding: 0 60px;
    width: 100%;
    background: linear-gradient(to right, #18181a85, #5253537c, #09044d80); 

}

.link-repo {

padding: 20px 0;
text-decoration: none;
color: white;
align-items: center;
text-align: center;

}

.link-repo:hover {

    border-bottom: 4px solid white;
    padding-bottom: 16px;
    
    }


@media (max-width: 1200px) {



    .Nav__links {

        background: rgba(0, 0, 255, 0);   
        justify-content: end;
    }
    
    
    .link {
    
    padding: 20px 0;
    text-decoration: none;
    color: white;
    display: none;
    
    }



    .link--no {

        padding: 20px 0;
        color: white;
        display: flex;
        
        
        }




    .raya {

        display: none;
    
    }

    .contenido {

        text-align: center;
        width: 50%;
    }

    .contenido h1 {
        font-size: 75px;
        letter-spacing: 15px;
    
    }
    
    .contenido h2 {
    
        letter-spacing: 2px;
    
    }


}







@media (max-width: 768px) {


    body {
        background-image: url("./home/background-home-mobile.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }


    .contenedor {

        width: 100%;
        height: auto;
        flex-direction: column;
    
    }

    .contenido{

        width: 90%;
        justify-content: center;

    }

    .contenido h1 {
        font-size: 75px;
        letter-spacing: 12px;
        
    }
    
    .contenido h2 {
    
        letter-spacing: 1px;
    
    }

    .contenido p {
    
        margin-right: 15px;
        margin-left: 15px;
    
    }

    .circulo {

        margin-bottom: 30px;

    }

    .raya {

        display: none;
    
    }


}